@model TrananMVC.ViewModel.MovieScreeningReservationViewModel
@{
    ViewData["Title"] = "Reservera biljetter";
}

<div style="display: flex; flex-direction: row;">
    <div class="movie-details">
    <div class="movie-poster">
        <a asp-controller="Movie" asp-action="Details" asp-route-movieId="@Model.MovieScreeningViewModel.MovieId">
            <img src="@Html.Raw(Model.MovieScreeningViewModel.MovieImageUrl)" />
        </a>
    </div>
    <div class="movie-info">
        <h3 class="text-container">@Model.MovieScreeningViewModel.MovieTitle</h3>
        <h4 class="text-container">Dag: @Model.MovieScreeningViewModel.DateAndTime.ToShortDateString()</h4>
        <h4 class="text-container">Tid: @Model.MovieScreeningViewModel.DateAndTime.ToString("HH:mm")</h4>
        <h4 class="text-container">Biosalong: @Model.MovieScreeningViewModel.TheaterName</h4>
    </div>
</div>
</div>

<div class="text-container">
@using (Html.BeginForm("PostReservation", "Reservation", FormMethod.Post))
{
    <h4>Välj stolar:</h4>
    @foreach (var seat in Model.MovieScreeningViewModel.AvailableSeats)
    {
            <input type="checkbox" name="ReservationViewModel.SeatIds" value="@seat.SeatId">
            <label for="seat-@seat.SeatId">Rad: @seat.Row Stolnummer: @seat.SeatNumber</label>
    }

    <h4>Förnamn: </h4> <input type="text" name="ReservationViewModel.CustomerViewModel.FirstName"
        value="@Model.ReservationViewModel.CustomerViewModel.FirstName">
    <h4>Efternamn: </h4> <input type="text" name="ReservationViewModel.CustomerViewModel.LastName"
        value="@Model.ReservationViewModel.CustomerViewModel.LastName">
    <h4>Telefonnummer: </h4> <input type="number" name="ReservationViewModel.CustomerViewModel.PhoneNumber"
        value="@Model.ReservationViewModel.CustomerViewModel.PhoneNumber">
    <h4>Email: </h4> <input type="email" name="ReservationViewModel.CustomerViewModel.Email"
        value="@Model.ReservationViewModel.CustomerViewModel.Email">

    <input type="hidden" name="ReservationViewModel.MovieScreeningId"
        value="@Model.ReservationViewModel.MovieScreeningId" />

    <p id="total-price">Totala pris: @Model.ReservationViewModel.Price</p>
     <input type="hidden" name="ReservationViewModel.Price" value="@Model.ReservationViewModel.Price" />

    <input type="hidden" name="ReservationViewModel.MovieScreeningId"
        value="@Model.MovieScreeningViewModel.MovieScreeningId" />
  

    <button type="submit" id="button">Reservera</button>

    <script>    
        const checkboxes = document.querySelectorAll('input[type=checkbox]');
        const currentPrice = document.getElementById('total-price');
        const pricePerPerson = @Model.MovieScreeningViewModel.PricePerPerson;

        let totalPrice = 0;

        checkboxes.forEach(function (checkbox) {
            checkbox.addEventListener('change', function () {
                if (this.checked) {
                    totalPrice += pricePerPerson;
                } else {
                    totalPrice -= pricePerPerson;
                }
                currentPrice.innerText = "Totala pris: " + totalPrice;
                document.getElementsByName("ReservationViewModel.Price")[0].value = totalPrice;
            });
        });


    </script>
}






