@model TrananMVC.ViewModel.MovieViewModel
@{
    ViewData["Title"] = "Bio Tranan";
}

<div class="text-center">
    <h1 class="display-4">Bio Tranan</h1>
</div>

<div class="menu">
    <a href="/home/movies">Alla filmer</a>
    <a href="/home/schema">Biljetter</a>
    <a href="/home/aboutus">Om oss</a>
</div>

<div class="movie-presentation">

    <div class="movie-poster">
        <img src="@Html.Raw(@Model.ImageUrl)" />
    </div>

    <div class="movie-information">
        <h2>@Model.Title</h2>

        <h6>@Model.DurationString | @Model.Language </h6>

        <h8> @Model.Description</h8>

        <h5>Actors:</h5>
        @foreach (var actor in @Model.Actors)
        {
            <li>@actor.FirstName @actor.LastName</li>
        }

        <h5>Directors:</h5>
        @foreach (var director in @Model.Directors)
        {
            <li>@director.FirstName @director.LastName</li>
        }
    </div>

</div>





