@model TrananMVC.ViewModel.MovieViewModel
@{
    ViewData["Title"] = "Filmdetaljer";
}


<div class="movie-presentation">

    <div class="movie-poster">
        <img src="@Html.Raw(@Model.ImageUrl)" />
    </div>

<div class="movie-trailer">
    @if (@Model.TrailerLink != null)
    {
         <iframe width="560" 
                height="315" 
                src=@Model.TrailerLink 
                frameborder="0" 
                allowfullscreen></iframe>
    }  
    else
    {
        <p>Din webbläsare stöder inte inbäddade videor från YouTube.</p>
    }
</div>

    <div class="text-container">
        <h2>@Model.Title</h2>

        <h6>@Model.DurationString | @Model.Language </h6>

        <h8> @Model.Description</h8>

        <h5>Actors:</h5>
        @foreach (var actor in @Model.Actors)
        {
            <li>@actor.FirstName @actor.LastName</li>
        }

        <h5>Directors:</h5>
        @foreach (var director in @Model.Directors)
        {
            <li>@director.FirstName @director.LastName</li>
        }
    </div>
 @if (Model.Reviews != null && Model.Reviews.Any())
{
    <h2>Reviews</h2>
    <ul>
        @foreach (var review in Model.Reviews)
        {
            <li>
                <b>Namn:@review.Alias<b>
                <br>
                Betyg:@review.Rating / 10
                <br>
                @review.Comment
            </li>
        }
    </ul>
}

</div>





