@model TrananMVC.ViewModel.MovieViewModel
@{
    ViewData["Title"] = "Filmdetaljer";
}


<div class="movie-presentation">

    <div class="movie-poster">
        <img src="@Html.Raw(@Model.ImageUrl)" />
    </div>

</div>

    <div class="text-container">
        <h2>@Model.Title</h2>

        <h6>@Model.DurationString | @Model.Language </h6>

        <h8> @Model.Description</h8>

        <h5>Actors:</h5>
        @foreach (var actor in @Model.Actors)
        {
            <li>@actor.FirstName @actor.LastName</li>
        }

        <h5>Directors:</h5>
        @foreach (var director in @Model.Directors)
        {
            <li>@director.FirstName @director.LastName</li>
        }
    </div>
    <br>

 @if (Model.Reviews != null && Model.Reviews.Any())
{   <div class="text-container">
    <h2>Reviews</h2>
    <ul>
        @foreach (var review in Model.Reviews)
        {
            <li>
                <b>Namn:@review.Alias<b>
                <br>
                Betyg:@review.Rating / 10
                <br>
                @review.Comment
            </li>
        }
    </ul>
    </div>
}

</div>





