@model ReviewViewModel
@{
    ViewData["Title"] = "Lämna review";
}

@using (Html.BeginForm("PostReview", "Movie", FormMethod.Post))
{
    <div class="text-container">
        <h2>@Model.MovieViewModel.Title</h2>

        <label>Alias:</label>
        <br>
        <input type="text" name="Alias" value="@Model.Alias">
        <br>
        <label>Betyg:</label>
        <br>
        <input type="range" name="Rating" min="1" max="10" value="@Model.Rating">
        <br>
        <label>Recension:</label>
        <br>
        <input type="text" name="Comment" value="@Model.Comment">
        <br>
        <label>ReservationsKod:</label>
        <br>
        <input type="number" name="ReservationCode" value="@Model.ReservationCode">
        <br>
        <input type="hidden" name="MovieViewModel.MovieId" value="@Model.MovieViewModel.MovieId">
        <br>
        <button type="submit" id="button">Lämna min review</button>
    </div>
}
