@model List<TrananMVC.ViewModel.MovieScreeningViewModel>

<div class="menu">
    <a href="/home/movies">Alla filmer</a>
    <a href="/schema/index">Biljetter</a>
    <a href="/home/aboutus">Om oss</a>
</div>

<table>
    <thead>
        <tr>
            <th>Film</th>
            <th>Datum</th>
            <th>Tid</th>
            <th>Salong</th>
            <th>Platser kvar</th>
            <th>Tillgänglig</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var screening in Model)
        {
            <tr>
                <td>@screening.MovieTitle</td>
                <td>@screening.DateAndTime.ToShortDateString()</td>
                <td>@screening.DateAndTime.ToString("HH:mm")</td>
                <td>@screening.TheaterName</td>
                <td>@screening.AvailebleSeats.Count</td>
                <td>
                    @if (screening.AvailebleSeats.Count > 0)
                    {
                        <a asp-controller="Reservation" asp-action="Create"
                            asp-route-movieScreeningId="@screening.MovieScreeningId">
                            <button id="button">Reservera</button>
                        </a>
                    }
                    else
                    {
                        <p>Fullreserverad</p>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>