@model List<TrananMVC.ViewModel.MovieScreeningViewModel>
@{
    ViewData["Title"] = "Filmvisningar";
}

<table>
    <thead>
        <tr class="text-container">
            <th>Film</th>
            <th>Datum</th>
            <th>Tid</th>
            <th>Salong</th>
            <th>Platser kvar</th>
            <th>Tillgänglig</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var screening in Model)
        {
            <tr class="text-container">
                <td>@screening.MovieTitle</td>
                <td>@screening.DateAndTime.ToShortDateString()</td>
                <td>@screening.DateAndTime.ToString("HH:mm")</td>
                <td>@screening.TheaterName</td>
                <td>@screening.AvailableSeats.Count</td>
                <td>
                    @if (screening.AvailableSeats.Count > 0)
                    {
                        <a asp-controller="Reservation" asp-action="Create"
                            asp-route-movieScreeningId="@screening.Id">
                            <button id="button">Reservera</button>
                        </a>
                    }
                    else
                    {
                        <p>Fullreserverad</p>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>